*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: $font;
    background: $color-dark_1;
    color: $color-white;
}
html, body {
    &._overflow {
        overflow: hidden;
    }
}
a {
    color: $color-white;
}
h1 {
    margin: 0;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
 hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
 }

.container {
    max-width: 1180px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    
}

.info {
    max-width: 460px;
    width: 100%;
    @include tablet-small {
        text-align: center;
        margin: 0 auto;
    }

    &__title {
        @include text ($font, 700, 44px, 52px, $color-white);
        margin-bottom: 17px;
        span {
            color: $color-primary;
        }
    }

    &__desc {
        @include text ($font, 400, 16px, 160%, $color-body);
        margin-bottom: 40px;
    }
}

